.form {
    background-color: teal;
    padding: 10%;
    padding-top: 5%
 
}


.label{
display: block;
font-size: 30px;
padding: 5px;
color:white;
display: none;
    
}

.input, ::-webkit-input-placeholder{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 50px;
    color:white;
    margin: 15px
    
    
  }

 .btn {
      border-radius: 30px;
      padding:20px;
      width: 300px;
      margin-top: 25px; 
      margin-right: 25px; 
      font-size: x-large;
      border: none;
     color: teal;
     background-color: rgb(14, 14, 113);

  }

  /* .error h1{
      color: blue;
  } */

  .error{
    /* display: block; */
    background-color: blue;
    color: white;
   
    
    }


    .auth-container{
        min-height:60vh;
    }
    .auth-form{
        background-color: var(--white);
        width:40%;
        min-height:30vh;
        margin:30vh auto;
        padding:20px;
        border-radius:16px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
        box-shadow: 3px -1px 26px 0px rgba(0,0,0,0.75);
    }
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .form-group input{
        padding:8px 16px;
        border-radius:8px;
        border:solid 1px grey;
        margin-top:20px;
    }
    .auth-form button{
        background-color: var(--button-bg);
        color:var(--white);
        border:none;
        padding:5px 10px;
        border-radius:8px;
        cursor:pointer;
        margin:20px 0;
    }
    .form-link{
        cursor:pointer;
        font-style:italic;
    }